---
---

@import "materialize/components/color-variables";
$primary-color: color("indigo", "lighten-4") !default;
$navbar-font-color: color("indigo", "darken-4");
$sidenav-bg-color: $primary-color;
$collapsible-header-color: color("indigo", "lighten-5");

$sidenav-font-color: color("indigo", "darken-4");

$sidenav-width: 180px;

$h1-fontsize: 2.0rem !default;
$h2-fontsize: 1.8rem !default;
$h3-fontsize: 1.6rem !default;
$h4-fontsize: 1.4rem !default;
$h5-fontsize: 1.0rem !default;
$h6-fontsize: 1.0rem !default;
@import 'materialize/materialize';
 
body {
	background-color: color("indigo", "lighten-5");
}

.sidenav {
	color: $navbar-font-color;
}

#slide-out{
	top: 65px;
	height: calc(100% - 65px);
}	

#logo_container {
	height: 60px;
	padding-top: 5px;
}

.sidenav li.menu_active > a:not(:hover){
	background-color: rgba(0, 0, 0, 0.10);
	color: color("light-green", "darken-4");
}

#div_main {
	margin-left : $sidenav-width;
}

#div_content {
	text-align: justify;
	padding-left : 30px;
	border-right: 1px solid var(--form-bg-color);
	counter-reset: l1;
	border-right: 1px solid color("indigo", "lighten-4");;
	height: calc(100% - 65px);
	h1, h2, h3, h4 {
		text-align: left;
		color: color("indigo","darken-3");
	}

	h1.num:before {
		counter-increment: l1;
		content: counter(l1) ": ";
	}
	h1.num{
		counter-reset: l2;
	}
	h2.num:before {
		counter-increment: l2;
		content: counter(l1) "." counter(l2) ": ";
	}
	h2.num{
		counter-reset: l3;
	}
	h3.num:before {
		counter-increment: l3;
		content: counter(l1) "." counter(l2) "." counter(l3) ": ";
	}
	h3.num{
		counter-reset: l4;
	}
	h4.num:before {
		counter-increment: l4;
		content: counter(l1) "." counter(l2) "." counter(l3) "." counter(l4) ": ";
	}
	h5 {
		font-weight: bolder;
		margin-bottom: 0px;
		margin-left : 20px;
		+ p {
			margin-top : 0px;
			margin-left : 20px;
		}
	}
	h6 {
		font-weight: bolder;
		margin-bottom: 0px;
		margin-left : 40px;
		+ p {
			margin-top : 0px;
			margin-left : 40px;
		}
	}
	img {
		max-width:100%;
	}
}

//@media only screen and (max-width : 992px) {
@media #{$medium-and-down} {
	#div_main {
		margin : 0px !important;
	}
}

.tocAnchor {
	color: color("indigo", "lighten-2");
	font-size: 0.9rem;
}

.tocAnchor:hover {
	color: color("indigo", "darken-3");
}

.tocAnchor.active {
	color: color("indigo", "base");
	font-weight: bolder;
}

.tocAnchor.active:hover {
	color: color("indigo", "darken-4");
	font-weight: bolder;
}

